@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Tailwind css installation  */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-bg: #000;
    --dark-h: #e9e9e9;
    --dark-p: #a0a0a0;
    --dark-p1: #111;
    --dark-p2: #888;
    --start-blue: #007CF0;
    --start-red: #7928CA;
    --end-blue: #00DFD8;
    --end-red: #FF0080;


    --light-p:#666;
}

/* -----Main rules----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", sans-serif;
    background: var(--dark-bg)
}

.head {
    @apply text-[3.5rem] capitalize relative font-bold px-5 py-0 w-fit m-auto;
    -webkit-text-fill-color: transparent;
}

.btn {
    @apply h-12 text-base font-medium leading-6 cursor-pointer capitalize transition-[0.5s]
    mx-0 my-6 px-12 py-0 rounded-[5px] border border-solid border-transparent text-dark-h;
    outline: none;
}

.blue-btn{
    background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, var(--start-blue), var(--end-blue)) border-box;
    @apply animate-[blue-glow_3s_infinite] shadow-[0px_0px_60px_3px_rgba(0,223,216,0.3),0px_0px_60px_3px_rgba(0,124,240,0.3)];
}

.red-btn{
    background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, var(--start-red), var(--end-red)) border-box;
    @apply animate-[red-glow_3s_infinite] shadow-[0px_0px_60px_3px_rgba(121,40,202,0.3),0px_0px_60px_3px_rgba(255,0,128,0.3)];
}

.blue-border{
    background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, var(--start-blue), var(--end-blue)) border-box;
}

.red-border{
    background: linear-gradient(#000, #000) padding-box,
    linear-gradient(to right, var(--start-red), var(--end-red)) border-box;
}

.blue-btn:hover {
    @apply text-black bg-clip-padding;
    background: linear-gradient(to right, var(--start-blue), var(--end-blue));
    outline: none;
}

@keyframes blue-glow{
    to{
        box-shadow: 0px 0px 60px 3px rgba(0, 223, 216, 0.4), 0px 0px 60px 3px rgba(0, 124, 240, 0.4);
    }
}

.red-btn:hover {
    @apply text-black bg-clip-padding;
    background: linear-gradient(to right, var(--start-red), var(--end-red));
    outline: none;
}

@keyframes red-glow{
    to{
        box-shadow: 0px 0px 60px 3px rgba(121, 40, 202, 0.4), 0px 0px 60px 3px rgba(255, 0, 128, 0.4);
    }
}   

/* -----Nav bar-----  */
.nav-bar {
    @apply backdrop-saturate-[180%] backdrop-blur-[5px] transition-opacity duration-[0.3s] ease-[ease-in-out] z-[100];
}

/* -----Home----- */
.heading{
    -webkit-text-fill-color: transparent;
}

/* -----About----- */

/* -----Projects----- */

/* -----Skills----- */

/* -----Contact----- */

/* -----Footer----- */
